{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Привет, я автор</h1>
  <p>
      Меня зовут Сергей, давно интересуюсь всем, что связано с компьютерной
      и мобильной техникой, программным обеспечением, сетевыми технологиями.<br><br>
      С недавнего времени решил посвятить больше времени программированию - 
      для этого решил начать обучение по программе бэкенд-разработчика,
      записавшись на курсы Яндекс-Практикума.<br><br>
      На сегодняшний день, уже есть неплохие результаты в виде разработанного
      первого проекта сообщества Yatube, также у меня уже есть свой аккаунт 
      на ГитХаб - <a href="https://github.com/BassDriver/">Ссылка на мой аккаунт</a>
  </p>
</div>
{% endblock %} 