{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Немного о создании проекта</h1>
  <p>
  Для создания проекта использовал знания, полученные при обучении
  на курсе бэкенд-разработчика на языке программирования Python.<br>
  Для создания сайта необходимо было использовать
  html, Python, Django<br>
    <ul>В качестве ПО для разработки использовал:
      <li>VSCode</li>
      <li>GitBash</li>
      <li>Python 3.9</li>
      <li>фреймворк Django
    </ul>
  </p>
</div>
{% endblock %} 